<svg style="padding-top: 3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,218.7C384,203,480,117,576,117.3C672,117,768,203,864,213.3C960,224,1056,160,1152,122.7C1248,85,1344,75,1392,69.3L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
<div class="container">
    <div class="row text-center">
        <h1 id="title">Jadwal Ujian</h1>
    </div>

    <% if (progress.length !== 0) { %>
          <!-- FORM START BELUM DI RELOAD DAN MASIH DALAM PENCARIAN -->
          <form class="row mt-3" action="/jadwal-ujian" method="post">
              <!-- TAHUN AJARA -->
              <div class="col-md-2 mb-2">
                <label for="inputState" class="form-label">Tahun Ajaran</label>
                <select id="inputState" name="tahun" class="form-select">
                  <option disabled>Choose...</option>
                  <option <%= (tahun == "2022/2023") ? "selected" : "" %> value="2022/2023">2022/2023</option>
                  <option <%= (tahun == "2021/2022") ? "selected" : "" %> value="2021/2022">2021/2022</option>
                  <option <%= (tahun == "2020/2021") ? "selected" : "" %> value="2020/2021">2020/2021</option>
                </select>
              </div>
      
              <!-- KELAS -->
              <div class="col-md-2 mb-2">
                <label for="inputState" class="form-label">Kelas</label>
                <select id="inputState" name="kelas" class="form-select">
                  <option disabled>Choose...</option>
                  <option <%= (kelas == "VII") ? "selected" : "" %> value="VII">VII</option> 
                  <option <%= (kelas == "VIII") ? "selected" : "" %> value="VIII">VIII</option>
                  <option <%= (kelas == "IX") ? "selected" : "" %> value="IX">IX</option>
                </select>
              </div>
      
              <!-- GRUP KELAS -->
              <div class="col-md-2 mb-2">
                  <label for="inputEmail4" class="form-label">Group Kelas</label>
                  <input type="text" value="<%= (grupKelas) ? grupKelas : "" %>" name="grupKelas" placeholder="Example : A" class="form-control" id="inputEmail4">
                </div>
      
                <!-- SEMESTER -->
                <div class="col-md-2">
                  <label for="inputState" class="form-label">Semester</label>
                  <select id="inputState" name="semester" class="form-select">
                    <option disabled>Choose...</option>
                    <option <%= (semester == "Ganjil") ? "selected" : "" %> value="Ganjil">Ganjil</option>
                    <option <%= (semester == "Genap") ? "selected" : "" %>  value="Genap">Genap</option>
                  </select>
                </div>
      
              <div class="col-md-1">
                <label for="btnSubmit" class="form-label" style="color: white;">as</label>
                <button type="submit" class="btn form-control btn-primary" id="btnSubmit">Cari</button>
              </div>
          </form>
          <!-- form end -->
    <% } else { %>
          <!-- FORM KETIKA SUDAH DI RELOAD || FORM PERTAMA KALI MUNCUL -->
        <form class="row mt-3" action="/jadwal-ujian" method="post">
            <!-- TAHUN AJARA -->
            <div class="col-md-2 mb-2">
              <label for="inputState" class="form-label">Tahun Ajaran</label>
              <select id="inputState" name="tahun" class="form-select">
                <option selected disabled>Choose...</option>
                <option value="2022/2023">2022/2023</option>
                <option value="2021/2022">2021/2022</option>
                <option value="2020/2021">2020/2021</option>
              </select>
            </div>
      
            <!-- KELAS -->
            <div class="col-md-2 mb-2">
              <label for="inputState" class="form-label">Kelas</label>
              <select id="inputState" name="kelas" class="form-select">
                <option selected disabled>Choose...</option>
                <option value="VII">VII</option> 
                <option value="VIII">VIII</option>
                <option value="IX">IX</option>
              </select>
            </div>
      
            <!-- GRUP KELAS -->
            <div class="col-md-2 mb-2">
                <label for="inputEmail4" class="form-label">Group Kelas</label>
                <input type="text" name="grupKelas" placeholder="Example : A" class="form-control" id="inputEmail4">
              </div>
      
              <!-- SEMESTER -->
              <div class="col-md-2">
                <label for="inputState" class="form-label">Semester</label>
                <select id="inputState" name="semester" class="form-select">
                  <option selected disabled>Choose...</option>
                  <option value="Ganjil">Ganjil</option>
                  <option value="Genap">Genap</option>
                </select>
              </div>
      
            <div class="col-md-1">
              <label for="btnSubmit" class="form-label" style="color: white;">as</label>
              <button type="submit" class="btn form-control btn-primary" id="btnSubmit">Cari</button>
            </div>
        </form>
          <!-- form end -->
    <% } %>
</div>

<% if (status.length !== 0) { %>
  <!-- LIST DAFTAR UJIAN JIKA DATA DITEMUKAN -->
  <div class="container-fluid table-ujian">
        <!-- List Daftar Ujian -->
        <div class="row justify-content-center mt-5">
          <div class="col-md-11 table-responsive">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Hari/Tanggal</th>
                  <th scope="col">Mata Pelajaran</th>
                  <th scope="col">Jam</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="2">1</th>
                  <td rowspan="2" class="m-auto">Senin, 24 Januari 2021</td>
                  <td>Bahasa Indonesia</td>
                  <td>08.00 - 10.00</td>
                </tr>
                <tr>
                  <!-- <th scope="row">2</th> -->
                  <td>Bahasa Inggris</td>
                  <td>10.30 - 12.30</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>

<% } %>